.p {
  width: 30%;
  height: 50vh;
  margin: 20px 10px;
  border: 2px solid black;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  cursor: pointer;
  transition: width 2s;

}
.p:hover{
  height: 80vh;
}

.p-browser {
  height: 20px;
  background-color: rgb(185, 184, 184);
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
}

.p-circle {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin: 3px;
  background-color: white;
}
.p-circle1 {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin: 3px;
  background-color: rgb(243, 6, 6);
}
.p-circle2 {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin: 3px;
  background-color: rgb(13, 250, 5);
}


.p img{
  width: auto;
  height: 100vh;
  background-size: cover;  
  transition: all 10s ease;
}


.p:hover img {
  transform: translateY(-50%);
}

@media screen and ( max-width: 480px){
  .p{
    width: 40%;
    height: 20vh;
  }
}